{% extends '_base.html' %}
{% block title %}COVID Staffing{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12 text-center">
    <h1>COVID Staffing</h1>
    <br> <p>More COVID Staffing page information coming soon.</p>
    <br> Lorem ipsum dolor sit amet, <a href='covid_staffing.html'>COVID Staffing</a> consectetur adipiscing elit. Proin non faucibus magna, vel tempus dui. Pellentesque quis leo eget augue lacinia aliquet. Aliquam erat volutpat. Nulla ornare magna eget dui eleifend hendrerit. Mauris a euismod nulla. Aliquam nec est iaculis, consectetur neque eget, aliquet arcu. Donec faucibus purus mollis elit sagittis, id blandit sapien ornare.<br><br>   

    <iframe 
    	id="inlineFrameExample"
	    title="Inline Frame Example"
	    width="800"
	    height="700"
	    frameBorder="0"
	    src="https://mountsinaigeospatial.github.io/data/project/covid_staffing_2020_11_29_pred_2020_12_14/">
	</iframe><br> <br> 

	<p>Mauris purus neque, vulputate ut neque nec, tempus tincidunt est. Fusce consequat nisl at velit ultricies, sit amet porta dolor tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur ac quam posuere, scelerisque dui eu, tempor nulla. Curabitur elit velit, consectetur eu facilisis quis, volutpat at erat. Nulla dapibus elit sit amet risus euismod, molestie placerat lacus imperdiet. Etiam pretium enim venenatis finibus eleifend. </p>

  </div>
</div>
{% endblock %}