{% extends '_base.html' %}
{% block title %}Home{% endblock %}
{% block body %}


<div class="hero">
  <div class="hero-inner">
    <h1>Analytics | Mount Sinai </h1>
    <!-- <input type="text" placeholder=" Search" class="form-control"> -->
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <!-- <p><i>Neighborhood Geography Example</i></p> -->
<!-- 
    <img src="../img/network.png" class="center" />
    <br> -->

    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>

        <!-- Wrapper for slides -->
        <div class='carousel-inner'>
            
            <div class='carousel-item'>
                <img src='../img/training_small.png' alt='' />
            </div>

            <div class='carousel-item active'>
                <img src='../img/network.png' alt='' />
            </div>

            <div class='carousel-item'>
                <img src='../img/covd_staffing_example_small.png' alt='' />
            </div>   

      
                
        </div>
       
    </div>


    <!-- 
      
      ADD AUTOMATED SLIDESHOW
      https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_rr

    </ul> -->
  </div>
</div>



{% endblock %}