{% extends '_base.html' %}
{% block title %}Contact{% endblock %}
{% block body %}




<div class="row">
  <div class="col-12 text-center">
  	
  	<table>
	  <tr>
	    <th><h1>Projects</h1></th>
	  </tr>
	  <tr>
	    <td>
	    	<h2>COVID Staffing</h2> 
			<a href='covid_staffing.html'><img src="../img/covd_staffing_example.png" class="center"/></a>
	    	<br> As the threat of ongoing surges of COVID-19 in U.S. continues, a variety of interventions will be required to meet the demand for critical care resources. To determine the ability to meet these demands, we explored the intersection of critical care bed (CCB) capacity and staffing availability in U.S. counties.<a href='covid_staffing'>COVID Staffing</a>
	    
	    </td>
	  </tr>
	  
	</table>

  </div>
</div>
{% endblock %}