{% extends '_base.html' %}
{% block title %}Training{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12 text-center">
    <h1>Training</h1>
    <p>Download Training Powerpoint files (.pptx) below.</p><p>Please note that before using these tools, we will need an <strong>signed agreement that these tools will only be used for Research with IRB Approval</strong>. More information coming soon.</p><br><br>

    <h3>Mount Sinai Data Warehouse (MSDW)</h3>

    <a href="/files/MSDW_2021.pptx" download="MSDW_2021">
      <img src="/img/msdw_2021_slide_01.png" alt="MSDW_2021" width="360" height="270">
    </a><br><br><br><br>

    <h3>Slicer Dicer</h3>

    <a href="/files/SlicerDicer_2021.pptx" download="SlicerDicer_2021">
      <img src="/img/slicerdicer_2021_slide_01.png" alt="SlicerDicer_2021" width="360" height="270">
    </a><br><br><br><br>

    <h3>Reporting Workbench (RBW)</h3>

    <a href="/files/RWB_2021.pptx" download="RWB_2021">
      <img src="/img/rwb_slide_01.png" alt="RWB_2021" width="360" height="270">
    </a><br><br>

    <!-- <ul class="no-bullets">
      <li>Study Geography Definitions</li>
      <li>Contextual Geographic Variables</li>
      <li>Geoprocessing</li>
      <li>Web Scraping</li>
      <li>Geocoding</li>

    </ul>  -->
  </div>
</div>
{% endblock %}